# APP
NODE_ENV=local
APP_NAME=labeling-back
SERVER_PORT=3000
APP_CORS_ORIGINS=http://localhost:3000,http://localhost:5173

# DATABASE
DB_TYPE=mysql
DB_SYNCHRONIZE=false
DB_LOGGING=false
SQLITE_DATABASE=labeling.sqlite

# MYSQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USERNAME=root
MYSQL_PASSWORD=1234
MYSQL_DATABASE=labeling
