# APP
NODE_ENV=local
APP_NAME=labeling-back
SERVER_PORT=3000
APP_CORS_ORIGINS=http://localhost:3000,http://localhost:5173

# DATABASE
DB_TYPE=mysql
DB_SYNCHRONIZE=false
DB_LOGGING=false
SQLITE_DATABASE=labeling.sqlite

# MYSQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USERNAME=root
MYSQL_PASSWORD=1234
MYSQL_DATABASE=labeling

# https://dubright-contents-v2.s3.ap-northeast-2.amazonaws.com/records/2025-03/46680e96-d7b8-4a4a-904a-26df3d756e0f.webm
# https://dubright-pattern.s3.ap-northeast-2.amazonaws.com/dubrights/webtoon/182/round/1920/recording/172_5845_11498.5.mp3
# https://dubright-pattern.s3.ap-northeast-2.amazonaws.com/dubrights/recordings/564339.wav